In [74]:
import sys
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import scipy
import matplotlib

In [75]:
data=pd.read_csv('Downloads/titanic.csv')

In [76]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [77]:
input_n=data.drop(['Name','PassengerId','Ticket','Parch','Cabin','Embarked','Survived','SibSp'],axis=1)
target=data['Survived']

In [79]:
input_n.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [80]:
a = pd.get_dummies(data['Sex'], drop_first=True)
a

     male
0       1
1       0
2       0
3       0
4       1
..    ...
886     1
887     0
888     0
889     1
890     1

[891 rows x 1 columns]

In [81]:
input_n['sex']=a
input_n=input_n.drop(['Sex'],axis=1)
input_n.head()

   Pclass   Age     Fare  sex
0       3  22.0   7.2500    1
1       1  38.0  71.2833    0
2       3  26.0   7.9250    0
3       1  35.0  53.1000    0
4       3  35.0   8.0500    1

In [82]:
target.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
model=DecisionTreeClassifier()

In [85]:
input_n.Age=input_n.Age.fillna(input_n.Age.mean())

In [86]:
input_n[:10]

   Pclass        Age     Fare  sex
0       3  22.000000   7.2500    1
1       1  38.000000  71.2833    0
2       3  26.000000   7.9250    0
3       1  35.000000  53.1000    0
4       3  35.000000   8.0500    1
5       3  29.699118   8.4583    1
6       1  54.000000  51.8625    1
7       3   2.000000  21.0750    1
8       3  27.000000  11.1333    0
9       2  14.000000  30.0708    0

In [87]:
from sklearn.model_selection import train_test_split

In [88]:
X_train, X_test, y_train, y_test = train_test_split(input_n, target, test_size=0.33, random_state=42)

In [89]:
len(X_train)

596

In [90]:
len(X_test)

295

In [91]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [93]:
model.score(X_test,y_test)

0.7559322033898305

In [95]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [96]:
pred=model.predict(X_test)

In [97]:
confusion_matrix(y_test,pred)

array([[143,  32],
       [ 40,  80]], dtype=int64)

In [98]:
classification_report(y_test,pred)

'              precision    recall  f1-score   support\n\n           0       0.78      0.82      0.80       175\n           1       0.71      0.67      0.69       120\n\n    accuracy                           0.76       295\n   macro avg       0.75      0.74      0.74       295\nweighted avg       0.75      0.76      0.75       295\n'

## CART Algorithm

In [99]:
from __future__ import print_function

In [100]:
training_data = [
    ['Green', 3, 'Apple'],
    ['Yellow', 3, 'Apple'],
    ['Red', 1, 'Grape'],
    ['Red', 1, 'Grape'],
    ['Yellow', 3, 'Lemon'],
]

In [101]:
header = ["color", "diameter", "label"]

In [102]:
### Find unique values in a column
def unique_values(rows,col):
    return set([row[col] for row in rows])

In [103]:
unique_values(training_data,0)

{'Green', 'Red', 'Yellow'}

In [104]:
unique_values(training_data,1)

{1, 3}

In [105]:
### count number of each type of example in dataset
def class_counts(rows):
    counts={}
    for row in rows:
        label=row[-1]
        if label not in counts:
            counts[label]=0
        counts[label]+=1
    return counts

In [106]:
class_counts(training_data)

{'Apple': 2, 'Grape': 2, 'Lemon': 1}

In [132]:
### Tests if a value is numeric
def isNumeric(value):
    return isinstance(value,int) or isinstance(value,float)

In [133]:
isNumeric('hello')

False

In [134]:
class Question:
    
    def __init__(self, column, value):
        self.column = column
        self.value = value
        
    def match(self, example):     ## Compare feature value in example to feature value in question
        val = example[self.column]
        if isNumeric(val):
            return val >= self.value
        else:
            return val == self.value
        
    def __repr__(self):      ## to print the question in readable form
        condition = "=="
        if isNumeric(self.value):
            condition = ">="
        return "Is %s %s %s?" % (
            header[self.column], condition, str(self.value))

In [135]:
Question(1,3)

Is diameter >= 3?

In [136]:
Question(0,"Green")

Is color == Green?

In [137]:
q= Question(0,"Red")
example = training_data[0]
q.match(example)

False

In [138]:
q= Question(0,"Green")
example = training_data[0]
q.match(example)

True

In [143]:
def partition(rows,question):
    true_rows, false_rows = [],[]
    
    ## For each row in the dataset, check if it matches the question. If
    ## so, add it to 'true rows', otherwise, add it to 'false rows'.
    
    for row in rows:
        if question.match(row):
            true_rows.append(row)
        else:
            false_rows.append(row)
    return true_rows,false_rows

In [144]:
true_rows, false_rows = partition(training_data, Question(0,"Red"))

In [145]:
true_rows

[['Red', 1, 'Grape'], ['Red', 1, 'Grape']]

In [146]:
false_rows

[['Green', 3, 'Apple'], ['Yellow', 3, 'Apple'], ['Yellow', 3, 'Lemon']]

In [149]:
def gini(rows):
    
    ## gini impurity
    
    counts = class_counts(rows)
    impurity = 1
    
    for count in counts:
        prob_count = counts[count]/float(len(rows))
        impurity -= prob_count**2
    return impurity

In [151]:
no_mixing = [['Apple'],
              ['Apple']]
# this will return 0
gini(no_mixing)

0.0

In [152]:
some_mixing = [['Apple'],
              ['Orange']]
# this will return 0.5
gini(some_mixing)

0.5

In [153]:
gini(training_data)

0.6399999999999999

In [161]:
def info_gain(left, right, current_uncertainity):
    
    ## Information gain
    
    p = float(len(left))/(float(len(left)) + float(len(right)))
    return current_uncertainity - p*gini(left) - (1-p)*gini(right)

In [158]:
current_uncer = gini(training_data)
current_uncer

0.6399999999999999

In [162]:
true_rows, false_rows = partition(training_data, Question(0,"Green"))
information_gain = info_gain(true_rows, false_rows, current_uncer)

In [163]:
information_gain

0.1399999999999999

In [164]:
true_rows, false_rows = partition(training_data, Question(0,"Red"))
information_gain = info_gain(true_rows, false_rows, current_uncer)
information_gain

0.37333333333333324

In [171]:
def find_best_split(rows):
    
    ## find best question to ask
    
    best_gain = 0
    best_question = None
    current_uncertainity = gini(rows)
    n_features = len(rows[0])-1
    
    for col in range(n_features):
        values = unique_values(rows,col)  ## unique values of each feature
        
        for val in values:
            question = Question(col, val)  ## question foe each unique value
            true_rows, false_rows = partition(rows, question)  ## partition acc to the question
            
            ## skip the split if it is pure
            if len(true_rows)==0 or len(false_rows)==0 :
                continue
                
            gain = info_gain(true_rows, false_rows, current_uncertainity)  ## information gain
            
            if gain >= best_gain:
                best_gain, best_question = gain, question
    return best_gain, best_question

In [172]:
best_gain, best_question = find_best_split(training_data)

In [174]:
best_question

Is diameter >= 3?

In [175]:
class Leaf:
    
    ## Leaf node classifies the data
    
    def __init__(self, rows):
        self.predictions = class_counts(rows)

In [176]:
class Decision_Node:
    
    ## Decision node asks question
    
    def __init__(self, question, true_branch, false_branch):
        self.question = question
        self.true_branch = true_branch
        self.false_branch = false_branch

In [177]:
def build_tree(rows):
    
    ## builds the tree
    
    gain, question = find_best_split(rows)
    
    if gain==0:
        return Leaf(rows)
    
    true_rows, false_rows = partition(rows, question)
    
    true_branch = build_tree(true_rows)
    false_branch = build_tree(false_rows)
    
    return Decision_Node(question, true_branch, false_branch)

In [187]:
def print_tree(node, spacing=""):
    
    ##Leaf node
    if isinstance(node, Leaf):
        print(spacing + "Predict:", node.predictions)
        return
    
    ## print question
    print(spacing + str(node.question))
    
    ## call the function recursively on true branch
    print(spacing + "--->True")
    print_tree(node.true_branch, spacing + "  ")
    
    ## call the function recursively on false branch
    print(spacing + "--->False")
    print_tree(node.false_branch, spacing + "  ")

In [188]:
my_tree = build_tree(training_data)

In [189]:
print_tree(my_tree)

Is diameter >= 3?
--->True
  Is color == Yellow?
  --->True
    Predict: {'Apple': 1, 'Lemon': 1}
  --->False
    Predict: {'Apple': 1}
--->False
  Predict: {'Grape': 2}

In [194]:
def classify(row, node):
    
    if isinstance(node,Leaf):
        return node.predictions
    
    if node.question.match(row):
        return classify(row, node.true_branch)
    else:
        return classify(row, node.false_branch)

In [197]:
classify(training_data[2], my_tree)

{'Grape': 2}

In [200]:
def print_leaf(counts):
    
    total = sum(counts.values())*1.0
    prob = {}
    for lbl in counts.keys():
        prob[lbl] = str(int(counts[lbl]/total*100))+"%"
    return prob

In [201]:
print_leaf(classify(training_data[2], my_tree))

{'Grape': '100%'}

In [202]:
print_leaf(classify(training_data[1], my_tree))

{'Apple': '50%', 'Lemon': '50%'}

In [203]:
testing_data = [
    ['Green', 3, 'Apple'],
    ['Yellow', 4, 'Apple'],
    ['Red', 2, 'Grape'],
    ['Red', 1, 'Grape'],
    ['Yellow', 3, 'Lemon'],
]

In [205]:
my_test_tree = build_tree(testing_data)
print_tree(my_test_tree)

Is diameter >= 3?
--->True
  Is color == Yellow?
  --->True
    Is diameter >= 4?
    --->True
      Predict: {'Apple': 1}
    --->False
      Predict: {'Lemon': 1}
  --->False
    Predict: {'Apple': 1}
--->False
  Predict: {'Grape': 2}

In [208]:
for row in testing_data:
    print("Actual: %s, Predicted: %s" % (row[-1], print_leaf(classify(row,my_test_tree))))

Actual: Apple, Predicted: {'Apple': '100%'}
Actual: Apple, Predicted: {'Apple': '100%'}
Actual: Grape, Predicted: {'Grape': '100%'}
Actual: Grape, Predicted: {'Grape': '100%'}
Actual: Lemon, Predicted: {'Lemon': '100%'}